@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "compass/css3";


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #9D9D9D;
    font-family: Poppins;
    height: 400px;
    text-align: center;
    margin: 40px;
    height: fit-content;
    margin-top: 20%;
}

.firstLinks {
    display: inline-block;
    font-size: 42px;
    color: white;
    list-style: none;
    text-align: center;
    margin: 20px;
}

.firstLinks>a {
    color: white;
}

.firstLinks>a:hover {
    color: #9D9D9D;
    text-decoration: underline;
}


.PersonalLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    font-size: 26px;
}

.PersonalLinks>a {
    color: #9D9D9D;
}

.PersonalLinks>a:hover {
    color: white;
    text-decoration: underline;
}


.ProjectLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffffff;
}

.ProjectLinks > a{
    color: #ffffff;
}

.ProjectLinks>a:hover {
    color: #9D9D9D;
    text-decoration: underline;
}

@media (min-width: 250px) and (max-width: 525px) {
    .ProjectLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        font-size: 32px;
        margin-bottom: 20px;
        color: #ffffff;
    }
}
