@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.WholeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    animation: fadeInUp 1s ease-out both;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 40%;
    margin: auto;
}

/* ______________________________________________________________________________________________________________________________________________________________ */


@media (max-width: 1199px) {
    .WholeContainer {
        flex-direction: column;
        width: 90%;
        margin-top: 16%;
        margin-bottom: 16%;
    }

    .Content {
        width: 60%;
    }
}

@media (max-width: 991px) {
    .WholeContainer {
        flex-direction: column;
        width: 90%;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .Content {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .WholeContainer {
        flex-direction: column;
        width: 95%;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .Content {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .WholeContainer {
        flex-direction: column;
        width: 100%;
        margin-top: 30%;
        margin-bottom: 30%;
    }

    .Content {
        width: 90%;
        text-align: left;
        align-items: left;
    }
}

@media (max-width: 320px) {
    .WholeContainer {
        flex-direction: column;
        width: 100%;
        margin-top: 40%;
        margin-bottom: 30%;
    }

    .Content {
        width: 95%;
        text-align: left;
        align-items: left;
    }
}